* {
	margin: 0px;
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-input-placeholder-color: #aaa;
}
html,body {
	font-family: "微软雅黑","Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
	font:14px;
	font-size: 14px;
	cursor: default;
    color: #333;
}
body{
	background-color: #f2ecec;
}		
li {
	list-style: none;
}
a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0
}
.app-topbar {
    z-index: 999;
    background-color: #fff;
    position: fixed;
    height: 44px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
    top:0px
}

.app-topbar .app-button[data-back].left {
    background-image: url('../image/arrow_rt.png');
    background-repeat: no-repeat;
    -webkit-background-size: 12px 20px;
    background-size: 12px 20px;
    background-position: 8px center;
    transform: rotate(180deg);
}
.app-topbar .app-title {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    line-height: 44px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
}
.app-topbar .app-button.left {
    left: 0;
}

.app-topbar .app-button.right {
    right: 0;
    color:#2ABBB4
}
.app-topbar .app-button {
    position: absolute;
    bottom: 0;
    padding: 0 16px;
    height: 100%;
    line-height: 44px;
}

.page-header {
	height: 135px;
	background:center url(../image/bj.png) no-repeat;
	background-size: 100%;
    color: #fff;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
}

.page-header .gift{
	height: 80px;
    padding: 5px 10px;
    background: 98% center url(../image/icon/icon-top_gift.png) no-repeat;
}
.page-header .qdao{
	width: 40px;
    float: left;
    line-height: 40px;
}
    
.menu_nav{
	overflow: hidden;
    width: 100%;
    height:80%;
    background-color: #fff;
}

.menu_nav li{
	width: 21%;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 8px 2% 0 2%;
    border-radius: 0.3em;
}

.menu_nav li span{
	width: 100%;
    display: block;
    line-height: 35px;
    font-size: 13px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
.menu_menu {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}
.menu_menu a {
    width: 25%;
    color: #666666;
    text-decoration: none;
    text-align: center;
    float: left;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.menu_menu a:active,.menu_menu a:hover {
	background-color: #cacfd2;
/* 	color: #fff; */
	outline: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}

.menu_menu span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.menu_menu a:not(:nth-child(4n)) {
    border-right: 1px solid #ddd;
}

.menu_menu a span {
    width: 100%;
    float: left;
    line-height: 40px;
    font-size: 14px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.menu_menu_desc{
	text-align: center;
    line-height: 30px;
    clear: both;
    color: #afadad;
    background-color: #efeff4;
	
}
/* footer */
.page-footer {
	width: 100%;
	box-shadow: 0 -2px 4px #d7d7d7;
	background-color: #6d6957;
}

.fixed-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
}

.page-footer ul {
	width: 100%;
	background-color: #996666;
}

.page-footer ul li {
	float: left;
	width: 25%;
	text-align: center;
	padding: 2% 0 2%;
}

.page-footer ul li a {
	width: 100%;
	display: block;
}

.page-footer ul .active a p {
	color: #fff;
}

.page-footer ul .active {
	width: 25%;
	background-color: #FF7E00;
}

.page-footer ul li img {
	width: 25%;
}

.page-footer ul li p {
	font-size: .4rem;
	color: #fff;
	margin-top: 3%;
}

.page-footer1 ul li p {
	font-size: .9em;
	color: #fff;
	margin-top: 3%;
}

.banner img {
    display: block;
    width: 100%;
}

.market_list{
	background-color: #fff;
	width: 100%;
    height: auto;
    overflow: hidden;
}

.market_list ul {
/*     display: inline-block; */
    width: 94%;
    overflow: hidden;
    margin: 0 3%;
    padding-bottom: 50px;
}

.market_list ul li {
    position: relative;
    float: left;
    width: 100%;
    padding:5px 0;
    border-bottom:1px solid #F6F6F6;
}
.market_list ul li span.tag {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid #ff000000;
    border-bottom-left-radius: 9px;
    background-color: #FC7A5A;
    color: #fff;
}
.market_list ul li .posters {
    float: left;
    position: relative;
    overflow: hidden;
    width: 30%;
}
.post-content {
    float: right;
    height: auto;
    width: 60%;
    line-height: 20px;
    padding: 10px 0;
}

.posters img{
    width: 100px;
    height: 80px;
}

.post-content .hui{
    border: 1px solid #F0816D;
    padding: 0 4px;
    border-radius: 3px;
    color:#F0816D;
}
.post-content .quan{
    border: 1px solid #FEA34D;
    padding: 0 4px;
    border-radius: 3px;
    color:#FEA34D;
}
.space{
	font-size:12px;
	color:#8C8C8C;
}

.arrowrt{
	background: 98% center url(../image/discuse.png) no-repeat;
    background-size: 8px 12px;
}


.simpleAlert {
	position: fixed;
	z-index: 1000;
}

.simpleAlertShelter {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.simpleAlertBody {
	position: fixed;
    display: none;
    width: 80%;
    height: 216px;
    top: 20%;
    margin: 0 10%;
    opacity: 0;
    border: 1px solid #948497;
    background-color: #fff;
}

.simpleAlertBodyClose {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 10px;
	right: 10px;
	padding: 5px;
	cursor: pointer;
	z-index: 9;
}

.simpleAlertBodyTitle {
	position: absolute;
	top: 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	overflow-y: auto;
	left: 0;
	background-color: #FF7E00;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.simpleAlertBodyContent {
	position: absolute;
	top: 40%;
	width: 96%;
	height: 48px;
	overflow-y: auto;
	left: 2%;
	text-align: center;
	font-size: 18px;
	color: #333;
}

.simpleAlertBtn {
	position: absolute;
	height: 34px;
	bottom: 10%;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	padding: 0 15px;
}

.simpleAlertBtn1 {
	background-color: #FF7E00;
	left: 20%;
}

.simpleAlertBtn2 {
	background-color: #c4bbbb;
	color: #333;
	right: 20%;
}

.onlyOne {
	height: 36px;
	width: 40%;
	margin:0 30%;
	left: 0%!important;
}